.charge_information {
  border-radius: 8px;
  border: 1px solid #999;
  max-width: 500px;
  padding: 20px 25px;
  margin-top: 10%;
}

.charge_information__title {
  text-align: center;
  font-size: 24px;
  justify-content: center;
  margin-bottom: 15px; 
}

.charge_information__progress-bar {
  margin-left: 55px;
  padding: 0 5px 0 45px;
}

.charge_information__info-block {
  justify-content: space-between;
  margin-bottom: 15px;
}

.charge_information__info-block--text {
  margin: auto 0;
}