.profile_info {
  max-width: 350px;
  border-radius: 8px;
  border: 1px solid #999;
  margin: 40px 50px 40px 60px;
}

.profile_info__title {
  padding: 20px 25px 0;
  border-bottom: 1px solid #999;
}

.action-block {
  padding: 20px 25px;
}